/*--------------------------------------------------------*\
--------------------------carrusel-------------------------
\*--------------------------------------------------------*/

::-webkit-scrollbar {
  display: none;
}

.carousel {
  padding: 0 spacing(4);
  // border: 1px solid green;
}

.carousel-category {
  // border: 1px solid red;
  overflow: auto;
  height: 450px;
  padding-bottom: spacing(4);
  @include m-flex(space-around, initial, column);
}

.carousel-category__list {
  // border: 1px solid blue;
  @include m-flex(initial, center, row);
  width: auto;

  & > .carousel-item {
    margin-right: spacing(2);
  }
}

.carousel-item {
  width: $carousel-item-width;
  height: $carousel-item-height;
  border-radius: $border-radius;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
  transform-origin: left center;
  position: relative;
  flex-shrink: 0;

  &__img {
    height: $carousel-item-height;
    width: $carousel-item-width;
    object-fit: cover;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: $padding-base;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    @include m-flex(flex-end, flex-start, column);
    opacity: 0;
    transition: 0.3s opacity;

    &--title,
    &--subtitle {
      margin: $margin-base 0;
    }

    &--subtitle {
      margin-top: 0;
    }
  }
}

.carousel-item:hover ~ .carousel-item {
  transform: translateX(60px);
}

.carousel-category__list:hover .carousel-item {
  opacity: 0.3;
}

.carousel-category__list:hover .carousel-item:hover {
  opacity: 1;
  transform: scale(1.3);
}

.carousel-item:hover .carousel-item__details {
  opacity: 1;
}
