/*--------------------------------------------*\
*---------------------footer-------------------*
\*---------------------------------------------*/

.footer {
  padding: 0 spacing(4);
  height: $footer-height;
  @include m-flex(initial, center, row);
}

.footer > a {
  margin-right: spacing(2);
}

.app-login > .footer,
.app-register > .footer,
.app-error > .footer {
  background: $color-light-purple;
}

.sign-up__container--link {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .footer {
    @include m-flex(initial, initial, column);
  }
}
