/*-----------------------------------------*\
              FORM LOGIN
\*-----------------------------------------*/

.login__container--input {
  background-color: transparent;
  padding: $padding-base;
  margin-bottom: $margin-base;
  border: none;
  border-bottom: 2px solid $color-white;
}
