/*-----------------------------*\
             HEADER
\*-----------------------------*/

.header {
  width: $container-full-width;
  height: $header-height;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-areas: "logo . menu";
  align-items: center;

  &__logo {
    @extend .flex-center;

    &--img {
      grid-area: logo;
    }
  }

  &__menu {
    grid-area: menu;
    @extend .flex-center;
  }
}

//header del login, solo cambia el color

.app-login > .header,
.app-register > .header,
.app-error > .header {
  background: $color-dark-green;
}

/*-----------------------------*\
          HEADER MENU
\*-----------------------------*/

.header-menu {
  &__profile {
    @include m-flex-center;
    cursor: pointer;
    position: relative;

    &--avatar {
      margin-right: $margin-base;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    transition: 0.3s;

    &--item {
      padding: $padding-base 0;
      text-align: right;
    }
  }
}

.header-menu__profile:hover .header-menu__dropdown,
.header-menu__dropdown:hover {
  display: block;
}

@media only screen and (max-width: 768px) {
  .app-login .header {
    grid-template-columns: 1fr;
  }
}
