/*-----------------------------------------*\
                  LOGIN
\*-----------------------------------------*/

.app-login {
  @extend .grid-vh;
}

.login {
  @extend .flex-center;
  background: linear-gradient($color-dark-green, $color-light-purple);
}

.login__container {
  background-color: $color-dark-gray;
  border: 2px solid $color-white;
  border-radius: $border-radius;
  padding: spacing(6);
  min-height: 500px;
  min-width: 400px;
  box-shadow: $box-shadow;
  @include m-flex(space-around, initial, column);

  &--form {
    @include m-flex(initial, initial, column);
  }

  &--remember {
    @include m-flex(space-between, initial);
    margin: $margin-base 0;
  }

  &--social-media {
    margin: spacing(3) 0;

    > div {
      @include m-flex(initial, center);
      margin: $margin-base 0;
    }

    img {
      margin: 0 $margin-base;
    }
  }
}

@media only screen and (max-width: 768px) {
  .login__container {
    background-color: transparent;
    border: none;
    width: $container-full-width;
    min-width: auto;
    min-height: auto;
    box-shadow: none;
    padding: 0rem spacing(3);
  }
}

@media only screen and (max-height: 480px) {
  .app-login,
  .app-register {
    grid-template-rows: 80px 1fr 80px;
  }

  .login__container--title {
    margin: 0;
  }
}
