/*-----------------------------------------*\
                  NOT FOUND
\*-----------------------------------------*/

.app-error {
  @extend .grid-vh;
}

.error__container {
  @extend .login;
  flex-direction: column;
}

.error__container--title {
  font-size: 6rem;
  margin: $margin-base 0;
  animation: pulsation 2s infinite alternate;
}

.error__container--description {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
