/*--------------------------------------------------------*\
---------------------Barra de busqueda----------------------
\*--------------------------------------------------------*/

.search {
  @include m-flex-center(column);
  height: 250px;
}

.input-search {
  padding: $padding-base spacing(2);
  width: 70%;
  border: 1px solid $color-white;
  border-radius: $border-radius;
  background-color: $color-dark-gray;
}
