/*-----------------------------*\
           COLORS
\*-----------------------------*/
/*
  * Branding colors
*/
/*-----------------------------*\
           typography
\*-----------------------------*/
/*-----------------------------*\
           constant
\*-----------------------------*/
/*-----------------------------------------*\
                  FUNCTIONS
\*-----------------------------------------*/
/*-----------------------------------------*\
                   MIXINS
\*-----------------------------------------*/
/*-----------------------------------------*\
----------------Settigs Global---------------
\*-----------------------------------------*/
body {
  margin: 0;
  background-color: #3a128b;
  font-family: "Muli", sans-serif;
  color: #fff;
}

input {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  outline: none;
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::-ms-input-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*-----------------------------------------*\
                    links
\*-----------------------------------------*/
.link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

/*-----------------------------------------*\
                containers
\*-----------------------------------------*/
.flex-center, .header__logo, .header__menu, .header-menu__profile, .search, .login, .error__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-vh, .app-login, .app-register, .app-error {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 80px calc(100vh - 160px) 80px;
      grid-template-rows: 80px calc(100vh - 160px) 80px;
}

/*-----------------------------------------*\
              typography
\*-----------------------------------------*/
body {
  font-size: 16px;
}

h2 {
  font-size: 1.8rem;
}

.carousel-item__details--subtitle {
  font-size: 0.7rem;
}

.carousel-category__title {
  font-size: 1.4rem;
}

.login__container--remember {
  font-size: 14px;
}

.login__container--social-media > div,
.login__container--register {
  font-size: 0.9rem;
}

.font-b {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

/*-----------------------------------------*\
                  BUTTONS
\*-----------------------------------------*/
.btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 0.65rem 0.5rem;
  margin: 1.5rem 0 0.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*-----------------------------*\
             HEADER
\*-----------------------------*/
.header {
  width: 100%;
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr 200px;
      grid-template-columns: 200px 1fr 200px;
      grid-template-areas: "logo . menu";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo--img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.header__menu {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: menu;
}

.app-login > .header,
.app-register > .header,
.app-error > .header {
  background: #21c08b;
}

/*-----------------------------*\
          HEADER MENU
\*-----------------------------*/
.header-menu__profile {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  position: relative;
}

.header-menu__profile--avatar {
  margin-right: 0.5rem;
}

.header-menu__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-menu__dropdown--item {
  padding: 0.5rem 0;
  text-align: right;
}

.header-menu__profile:hover .header-menu__dropdown,
.header-menu__dropdown:hover {
  display: block;
}

@media only screen and (max-width: 768px) {
  .app-login .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/*--------------------------------------------------------*\
---------------------Barra de busqueda----------------------
\*--------------------------------------------------------*/
.search {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
}

.input-search {
  padding: 0.5rem 1rem;
  width: 70%;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

/*--------------------------------------------------------*\
--------------------------carrusel-------------------------
\*--------------------------------------------------------*/
::-webkit-scrollbar {
  display: none;
}

.carousel {
  padding: 0 2rem;
}

.carousel-category {
  overflow: auto;
  height: 450px;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
}

.carousel-category__list > .carousel-item {
  margin-right: 1rem;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.carousel-item__img {
  height: 250px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.carousel-item__details--title, .carousel-item__details--subtitle {
  margin: 0.5rem 0;
}

.carousel-item__details--subtitle {
  margin-top: 0;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

.carousel-category__list:hover .carousel-item {
  opacity: 0.3;
}

.carousel-category__list:hover .carousel-item:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.carousel-item:hover .carousel-item__details {
  opacity: 1;
}

/*--------------------------------------------*\
*---------------------footer-------------------*
\*---------------------------------------------*/
.footer {
  padding: 0 2rem;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer > a {
  margin-right: 1rem;
}

.app-login > .footer,
.app-register > .footer,
.app-error > .footer {
  background: #ab88ff;
}

.sign-up__container--link {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*-----------------------------------------*\
                  LOGIN
\*-----------------------------------------*/
.login, .error__container {
  background: -webkit-gradient(linear, left top, left bottom, from(#21c08b), to(#ab88ff));
  background: linear-gradient(#21c08b, #ab88ff);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 3rem;
  min-height: 500px;
  min-width: 400px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__container--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__container--remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem 0;
}

.login__container--social-media {
  margin: 1.5rem 0;
}

.login__container--social-media > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem 0;
}

.login__container--social-media img {
  margin: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
  .login__container {
    background-color: transparent;
    border: none;
    width: 100%;
    min-width: auto;
    min-height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0rem 1.5rem;
  }
}

@media only screen and (max-height: 480px) {
  .app-login,
  .app-register {
    -ms-grid-rows: 80px 1fr 80px;
        grid-template-rows: 80px 1fr 80px;
  }
  .login__container--title {
    margin: 0;
  }
}

/*-----------------------------------------*\
              FORM LOGIN
\*-----------------------------------------*/
.login__container--input {
  background-color: transparent;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: 2px solid #fff;
}

/*-----------------------------------------*\
                  SIGN UP
\*-----------------------------------------*/
/*-----------------------------------------*\
                  NOT FOUND
\*-----------------------------------------*/
.error__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__container--title {
  font-size: 6rem;
  margin: 0.5rem 0;
  -webkit-animation: pulsation 2s infinite alternate;
          animation: pulsation 2s infinite alternate;
}

.error__container--description {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@-webkit-keyframes pulsation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes pulsation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
/*# sourceMappingURL=styles.css.map */