/*-----------------------------------------*\
                  BUTTONS
\*-----------------------------------------*/

.btn {
  background-color: $color-dark-gray;
  border: none;
  border-radius: $border-radius;
  color: $color-white;
  padding: spacing(1.3) $padding-base;
  margin: spacing(3) 0 $margin-base;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
