/*-----------------------------------------*\
                containers
\*-----------------------------------------*/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//contenedor 3 filas repartidas en todo el 100% del viewport height
.grid-vh {
  display: grid;
  grid-template-columns: $container-full-width;
  grid-template-rows:
    $header-height
    calc(100vh - 160px)
    $footer-height;
}
