/*-----------------------------------------*\
----------------Settigs Global---------------
\*-----------------------------------------*/

body {
  margin: 0;
  background-color: $color-dark-purple;
  font-family: $font-base;
  color: $color-white;
}

input {
  font-family: $font-base;
  font-size: $font-size-base;
  outline: none;
  color: $color-white;
}

input::placeholder {
  color: $color-white;
}

figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
