/*-----------------------------------------*\
              typography
\*-----------------------------------------*/
body {
  font-size: 16px;
}

h2 {
  font-size: $font-h2-size;
}

// fuente del subtitulo del carrusel en la página principal
.carousel-item__details--subtitle {
  font-size: 0.7rem;
}

// fuente del titulo del carrusel en la página principal
.carousel-category__title {
  font-size: 1.4rem;
}

// fuente checkbox pantalla de login
.login__container--remember {
  font-size: 14px;
}

.login__container--social-media > div,
.login__container--register {
  font-size: 0.9rem;
}

.font-b {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: $font-size-m;
  }
}
